@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --orange: 25deg 97% 53%;
        --white: 0deg 0% 100%;
        --lightGrey: 217deg 12% 63%;
        --mediumGrey: 216deg 12% 54%;
        --darkBlue: 213deg 19% 18%;
        --veryDarkBlue: 216deg 12% 8%;
    }
    .primaryBtn{
        @apply py-2 px-6 pt-10 mt-2 bg-blue-600 rounded-2xl
    }
}